@model List<JobTrackerWeb.Models.Call>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-bell-o"></i><span class="badge blue">@ViewBag.m2</span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <div class="notification_header">
                <h3>Aktif Çağrı Bildirimleriniz.</h3>
            </div>
        </li>
        @foreach (var item in Model)
        {

        <li>    
            <a href="/default/CallDetail/@item.ID" class="grid">
                <div class="user_img"><img src="~/web2/starter/assets/images/desk.jpg" alt=""></div>
                <div class="notification_desc">
                    <p>@item.Subject</p>
                    <span>@item.Date</span>
                </div>
            </a>
        </li>
        }
        <li>
            <div class="notification_bottom">
                <a href="/default/activecalls/" class="bg-primary">Tüm Çağrıları Listele</a>
            </div>
        </li>
    </ul>
</li>
